:root {
  --text-color: #22343d;
  --background-color: #fff;
  --logo-color: #173a56;
  --btm-color: #02897a;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* COMMON ACTION */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1110px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

/* * ----------- HEADER NAVIGATION ----------- *  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo-text {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: 237px;
  margin-bottom: 29px;
  margin-top: 23px;
}
.logo-img {
  padding-right: 16px;
}
.header-nav {
  display: flex;
}
.header-list {
  display: flex;
  gap: 30px;
}
.list {
}
.header-item {
}
.header-link {
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-color);
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-link:hover,
.header-link:focus {
  font-weight: 600;
}
.header-btm {
  display: flex;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #173a56;
  text-align: center;
  height: 43px;

  padding-left: 24px;
  gap: 24px;
  margin-bottom: 19px;
  margin-top: 19px;
}
.btn-in {
  width: 102px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: var(--background-color);

  cursor: pointer;
}
.btn-up {
  width: 110px;
  background-color: var(--btm-color);
  color: #fff;
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

/* MAIN */

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  margin-right: auto;
}

.section-title-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}

.section-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* PRICING */

.pricing {
  padding-top: 50px;
  padding-bottom: 150px;
  text-align: center;
}
.pricing-title {
}

.pricing-title-text {
  margin-top: 32px;
}

.pricing-item {
  margin-top: 16px;
}

.price-packets {
  display: flex;
  gap: 71.35px;
}

.price-block {
  display: flex;
  width: ((100% - 142.7px) / 3);
  flex-direction: column;

  width: 322.65px;
  height: 456px;
  margin-top: 49px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
}

.price-block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}

.block-title-text {
  font-size: 16px;
  line-height: 2.5;
  font-weight: 400;

  margin-top: 8px;
}

.price-block-number {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0.2px;
  color: #02897a;
}
sup {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.1px;
  vertical-align: middle;
}

.price-period {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.price-options-list {
  margin-top: 40px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}

.price-options {
  padding-bottom: 16px;
}
.price-options-last {
  margin-bottom: 38px;
}

.price-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.37;
  color: #ffffff;
  padding: 11px 19px;

  background: #02897a;
  border-radius: 8px;
  border-color: transparent;
}

.price-block-middle {
  color: #fff;
  background: #02897a;
}
.mumber-middle {
  color: #fff;
}
.sup-middle {
  color: #fff;
}
.price-btn-middle {
  color: #02897a;
  background: #ffffff;
}
